.full-height {
  height: calc(100vh - 120px);
}
.float-btn {
  position: absolute;
  right: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

