<div class="bordered-component p-3 mb-2 bg-light border border-dark rounded full-height">
  <div class="row" style="position: sticky;top: 0;">
    <div class="col-md-6" *ngIf="logGroupFilter && logGroupFilter.length>1">
      <mat-accordion>
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Log Groups
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="text-align: center;display: flex;width: 100%;justify-content: space-evenly;">
            <div *ngFor="let grp of logGroupFilter" class="form-check form-switch">
              <input class="form-check-input" (click)="onClickFilter(grp)" type="checkbox" id="flexSwitchCheckChecked" [checked]="grp.selected">
              <label class="form-check-label" for="flexSwitchCheckChecked">{{grp.label}}</label>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-6" *ngIf="callIds && callIds.length>0">
      <mat-accordion>
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Call IDS
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let callId of callIds;let idx = index"
               style="display: flex;align-items: center;margin-top: 3px" >
            #{{idx+1}}
            <input readonly class="form-control" value="{{callId}}"
                   style="margin-left: 8px;color:{{colorsSet[idx % colorsSet.length]}}">
           &nbsp; <a href="#{{callId}}" >go</a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div style="max-height: calc(100vh - 190px);overflow-y: auto;overflow-x: auto;padding-right: 5px">
    <div *ngFor="let singleLine of filteredData;let odd=odd;let idx=index"  style="margin: 5px 10px;" >
      <div class="row">
        <div class="col-md-1" *ngIf="logGroupsCount>1" style="text-align: center">
          <span *ngIf="noWrap">
            #{{idx+1}}
          </span>
          <span *ngIf="!noWrap" style="background-color: {{singleLine.logGroupBGColor}};writing-mode: vertical-rl;padding:15px 5px">
            #{{idx+1}} - {{singleLine.logGroupLabel}}
          </span>
        </div>
        <div [ngClass]="logGroupsCount>1?'col-md-11':'col-md-12'">
          <div [style.background-color]="odd?'white':null" class="main-log-line">
            <div [style.white-space]="noWrap?'pre':'pre-wrap'"  [innerHTML]="getLine(singleLine) | safeHtml"></div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row no-data" *ngIf="filteredData && filteredData.length==0" >
      <label style="font-size: 100px;width: fit-content;">No Data</label>
  </div>
  <div class="row" >
    <div class="d-flex align-items-center w-100 justify-content-between">
      <span>Showing {{filteredData && filteredData.length}} lines</span>
      <div>
        <button type="button" title="No Wrap" [disabled]="!filteredData || !filteredData.length"  class="btn btn-light" style="margin: 5px"
                (click)="onNoWrap()">
          <i class="fas fa-align-center" *ngIf="!noWrap"></i>
          <i class="fas fa-water" *ngIf="noWrap"></i>

        </button>
        <button type="button" title="Save" [disabled]="!filteredData || !filteredData.length"  class="btn btn-light" style="margin: 5px" (click)="onSave()">
          <i class="fas fa-save"></i>
        </button>
        <button type="button" title="Copy To Clipboard" [disabled]="!filteredData || !filteredData.length" [cdkCopyToClipboard]="copyToClip()"
                (click)="onCopy()" class="btn btn-light" style="margin: 5px">
          <i class="fas fa-clipboard"></i>
        </button>
        <button type="button" title="Remove Prefix"
                (click)="cleanLogs()" [disabled]="!filteredData || !filteredData.length"  class="btn btn-light" style="margin: 5px">
          <i class="fas fa-remove"></i>
        </button>
        <button type="button" title="Summary"
                (click)="summary()" [disabled]="!filteredData || !filteredData.length" class="btn btn-light" style="margin: 5px">
          <i class="fas fa-list-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
