.main-log-line {
  word-wrap: break-word;
}

::ng-deep .Blue {
  color:Blue;
  font-weight: bold;
}
::ng-deep .Olive {
  color:Olive;
  font-weight: bold;
}
::ng-deep .Navy {
  color:Navy;
  font-weight: bold;
}
::ng-deep .Maroon {
  color:Maroon;
  font-weight: bold;
}
::ng-deep .Lime {
  color:Lime;
  font-weight: bold;
}
::ng-deep .Magenta {
  color:Magenta;
  font-weight: bold;
}
::ng-deep .Cyan {
  color:Cyan;
  font-weight: bold;
}
::ng-deep .Brown {
  color:Brown;
  font-weight: bold;
}
::ng-deep .Gray {
  color:Gray;
  font-weight: bold;
}
::ng-deep .Purple {
  color:Purple;
  font-weight: bold;
}
::ng-deep .Orange {
  color:Orange;
  font-weight: bold;
}
::ng-deep .Green {
  color:Green;
  font-weight: bold;
}
::ng-deep .Indigo {
  color:Indigo;
  font-weight: bold;
}
::ng-deep .Pink {
  color:Pink;
  font-weight: bold;
}
::ng-deep .Gold {
  color:Gold;
  font-weight: bold;
}
::ng-deep .Silver {
  color:Silver;
  font-weight: bold;
}
::ng-deep .Teal {
  color:Teal;
  font-weight: bold;
}
::ng-deep .Yellow {
  color:Yellow;
  font-weight: bold;
}
::ng-deep .Coral {
   color:Coral;
   font-weight: bold;
 }

.no-data {
  height: calc(100vh - 190px);
  justify-content: center;
  align-content: center
}

.selected {
  background-color: lightblue;
}
.odd-not-selected {
  background-color: white;
}
