<div class="main">

  <h1 style="cursor: pointer" (dblclick)="openAI()" >MagicaLoG
    <img src="assets/img.png" style="width: 50px" >
  </h1>

  <div class="row">
    <div [ngClass]="searchOpen ?'col-md-8':'col-md-11'">
      <logs-area [data]="data" [filters]="filters" [excludes]="excludes"  ></logs-area>
    </div>
    <div class="col-md-4" *ngIf="searchOpen">
      <rules-area  (dataArrived)="onDataArrived($event)"
                   (filterChanged)="onFilterChanged($event)"
                   (excludeChanged)="onExcludeChanged($event)"
                   (searchClosed)="onSearchClosed()"></rules-area>
    </div>
    <div class="col-md-1 bordered-component p-3 bg-light border border-dark rounded full-height" *ngIf="!searchOpen">
          <button style="writing-mode: vertical-rl" type="button"
                  class="btn btn-secondary" (click)="searchOpen=true" >
            Search <i class="fas fa-search-plus fa-lg"></i>
          </button>

    </div>
  </div>
</div>
