<h2 mat-dialog-title>Configure Colors</h2>
<div mat-dialog-content>
  <div *ngFor="let label1 of labelsList" class="row" style="margin: 10px">
    <div class="col-md-3">
      <input class="form-control" placeholder="Label" [(ngModel)]="label1.key">
    </div>
    <div class="col-md-5">
      <input class="form-control" placeholder="Search RegEx" [(ngModel)]="label1.value">
    </div>
    <div class="col-md-3">
      <input class="form-control" placeholder="Color" [(ngModel)]="label1.color">
    </div>
    <div class="col-md-1">
      <button color="warn" mat-button (click)="delete(label1)" >X</button>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end" >
  <button mat-button mat-raised-button mat-dialog-close
          style="margin-bottom: 8px" >Cancel</button>
  <button mat-button color="primary"
          (click)="save()"
          mat-dialog-close
          mat-raised-button style="margin-right: 8px;margin-bottom: 8px">Save</button>
</div>

