<h2 mat-dialog-title>Calls Summary</h2>
<div mat-dialog-content>
  <div style="padding: 10px">
    <table class="table table-striped table-bordered table-hover">
      <tr><th>Call Id</th><th>Group</th><th>Invite</th><th>Bye</th><th>Duration (ms)</th></tr>
      <tr *ngFor="let item of items">
        <td style="color:{{item.color}}">{{item.callId}}</td>
        <td>{{item.group}}</td>
        <td>{{item.inviteTime}}</td>
        <td>{{item.byeTime}}</td>
        <td>{{item.diff}}</td>
    </table>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
